# Ignore node modules (frontend and backend)
node_modules/

# Ignore build and output folders
dist/
build/

# Ignore environment variables (sensitive data)
.env
.env*

# Ignore logs and temporary files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore IDE/editor settings
.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store


# Ignore OS system files
Thumbs.db
